*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
    text-align: center;

}
h1{
    background-color: #081b21;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
    font-family: cursive;
}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
display: flex !important;
justify-content: center !important;
align-items: center !important;


}.choice:hover{
    cursor: pointer;
    background-color: #081b21;
}
.choice img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 2rem;
}.scroe-board{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    align-items: center;
    gap: 2rem;
}.score p{
    font-size: 2rem;
    font-family: cursive;

    color: #081b21;
}.msg-conatiner
{

      display: flex;
    justify-content: center;
    margin-top: 3rem;
    align-items: center;

}#msg{
    padding: 1rem ;
    background-color: #081b21;
    font-size: 1.2rem;
    transition: all .1s ease-in;
    font-family: cursive;
    border-radius: 30px;
    width: 20%;
    display: inline;
    color: #fff;

}